<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground!!!!</title>
</head>
<body>
    <p> Try <a href="/campgrounds">/campgrounds</a></p>
    <h1 style="display: none;" > 2D > 3D </h1>
    <img src="https://static.zerochan.net/Ryuuguu.Rena.full.959158.jpg">
</body>
</html>